
.MenuTexto{
    color: white;
    font-size: 12px;
}

.MenuTexto ul li{
    list-style-type: none;
    margin: 20px;
}
.MenuTexto p{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--bgc-texto);
    color: black;
    padding: 5px;
}

.MenuTexto button{
    margin-top: 30px;
    background-color: #EAEAEA;
    border-radius: 5px;
    font-size: 20px;
    width: 40px;
}

.MenuTexto h3{
    display: inline;
    padding: 8px;
    vertical-align: auto ;
    font-size: 15px;
}
.MenuTexto p{
    text-align: justify;
    font-weight: 600;
}