
.menu{
    color: rgb(255, 255, 255);
    font-size: 12px;
    padding: 10px;
    position: fixed;
    width: calc(100% - 20px);
    bottom: 0;
    left: 0;
}
 
.menu ul li{
    list-style-type: none;
    margin: 20px;
}
.menu ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:  #08D9D6;
    padding: 0;
    border-radius: 10px;
}
.menu a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
}

.menu button{
    background-color: #EAEAEA;
    border-radius: 30px;
    font-size: 15px;
    width: 40px;
    height: 40px;
}

.menu h3{
    display: inline;
    padding: 8px;
    vertical-align: auto ;
    font-size: 15px;
}

@media only screen and (min-width:992px){
    .menu{
        top: 0;
        bottom: auto;
    }

    .menu ul {
        justify-content: flex-end;
        gap: 20px;
        padding-right: 20px;
    }

    .menu ul li img{
        display: none;
    }

    .menu li {
        padding: 0
    }
}
